body {
  margin-left: 40pt;
  margin-top: 40pt;
  width: 570pt;
  font-family: georgia, optima, palatino, verdana, arial, sans-serif;
  font-size: 11pt;
  line-height: 17pt;
  background-color: #fffefc;
}

dl {
  font-size: 11pt;
  line-height: 17pt;
}

td {
  font-family: georgia;
  font-size: 85%;
}

a:focus,a:hover { color: #990000; border-bottom:1px solid #990000; }
a               { color: #990000; text-decoration: none; }

.image     { border-bottom: none; }

.heading {
  font-weight: bold;
  font-size: large;
}

img { border: none;}

h1 {
 font-size: 20pt;
 font-weight: normal;
}

h2 {
 font-size: 14pt;
 font-weight: normal;
}

h3 {
 font-size: 11pt;
 font-weight: normal;
}

.tabsection {
  height: 475px;
  overflow: auto;
}



#tabs .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font-family:georgia;
    font-size: 85%;
}


#tabs .ui-tabs-nav .ui-state-default {
    /*background: transparent;*/
    border: none;
}
#tabs .ui-tabs-nav .ui-state-active {
    background: no-repeat bottom center;
    border: none;
}

#tabs .ui-tabs-nav .ui-state-default a {
    color: #c0c0c0;
}

#tabs .ui-tabs-nav .ui-state-active a {
    color: #990000;
}

#tabs a {
    color: #990000;
}

